$mobile: 375px;
$desktop: 1400px;
$red: hsl(0,100%,74%);
$white:#fff;
$light-gray: #cdcdcd;
$green: hsl(154,59%,51%);
$blue: hsl(248,32%,49%);
$dark-blue: hsl(249,10%,26%);
$grayish-blue: hsl(246,25%,77%);
$box-shadow: 0 5px rgba(0,0,0,0.2);
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;